workflows/tars-ai-assistant/workflow.json
{
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', 'Event start in ISO 8601 e.g. 2026-06-01T00:00:00. Convert today/tomorrow to ISO. Optional.', 'string', '') || new Date(new Date().setHours(0,0,0,0)).toISOString() }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end',   'Event end in ISO 8601 e.g. 2026-06-01T23:59:59. Convert today/tomorrow to ISO. Optional.', 'string', '') || new Date(new Date().setHours(23,59,59,999)).toISOString() }}",
        "additionalFields": {}
      },
      "id": "a6fd0485-d20f-4f0b-8cb2-0456f96c0052",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        192,
        832
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "googleCalendarOAuth2Api Credential"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "bd240821-24ca-4222-9efb-6b48180eb0ad",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -192,
        832
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"
        }
      },
      "id": "62880660-e955-4bab-8561-e07db88bb9a9",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -64,
        832
      ],
      "webhookId": "a4ae7b5d-7686-4bee-a753-848932860b4e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "gmailOAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "014a2665-0a9a-4745-a9d9-af365092fba9",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1440,
        608
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "telegramApi Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "95261298-5e5d-423a-9bfe-dcbb75c2c69b",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1008,
        608
      ],
      "webhookId": "2c133a40-af48-4106-bc1a-be6047840a89",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "telegramApi Credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "68dead6b-f693-420a-aeb5-317a94ee55f0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -992,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "88b80e2e-2927-47d9-bf0f-78a046ea613b",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -1216,
        608
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "63117667-5142-4564-a1db-8245f15e9196",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -768,
        528
      ],
      "webhookId": "ef3f120e-c212-45ff-99b5-b6a5a82598d8",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "telegramApi Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 279,
        "width": 624,
        "color": 7
      },
      "id": "7de606a7-814f-4110-82ed-3de9325bd493",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "342d742d-8483-4578-bdf9-4a7fe5a3fc3f",
      "name": "Groq",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        -320,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "groqApi Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node helps your agent remember the last few messages to stay on topic.",
        "height": 260,
        "width": 308,
        "color": 7
      },
      "id": "373f9a23-d330-464f-8b73-60a2580238e3",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent to create and get tasks from Google Tasks\n",
        "height": 260,
        "width": 484,
        "color": 7
      },
      "id": "2d9cdaf3-ca4f-4854-85ed-8ee999147918",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent to access your Gmail\n",
        "height": 260,
        "width": 308,
        "color": 7
      },
      "id": "bb2e4536-7b83-4007-a77c-158161d2d550",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent to access your Google Calendar\n",
        "height": 260,
        "width": 404,
        "color": 7
      },
      "id": "164d09de-83f3-4092-87ee-53a0704804f5",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUses OpenAI to convert voice to text.\n[In OpenAI](https://platform.openai.com/api-keys) click **\"Create new secret key\"** and copy it.",
        "height": 276,
        "width": 324,
        "color": 7
      },
      "id": "a3ac602d-03d7-4074-931a-9f26d6a0f167",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Personal Assistant\n\nCapabilities:\n1. Get & send email\n2. Check calendar\n3. Get and create to-do tasks\n\nEdit the **System Message** in the Agent node to adjust behavior and tone.\n",
        "height": 380,
        "width": 396,
        "color": 7
      },
      "id": "184b3e13-bfe7-4ef1-9917-5a60c13a1c86",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Personal Assistant\n\nYour personal AI assistant that handles voice & text via Telegram to manage your digital life.\n\n**To get started:**\n\n1. **Connect all credentials** (Telegram, OpenAI, Gmail, Google Calendar, Google Tasks, OpenRouter)\n2. **Activate the workflow** and message your Telegram bot:\n   - \"What emails do I have today?\"\n   - \"Show me my calendar for tomorrow\"\n   - \"Create new to-do item\"\n   - Send voice messages for hands-free interaction\n\n**Credentials needed:**\n- Telegram Bot API\n- OpenAI API (voice transcription)\n- OpenRouter API (LLM)\n- Gmail OAuth2\n- Google Calendar OAuth2\n- Google Tasks OAuth2\n",
        "height": 568,
        "width": 460,
        "color": 4
      },
      "id": "393d1ee5-a45a-494e-affc-4faffc0d1336",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSend message back to Telegram\n",
        "height": 288,
        "width": 304,
        "color": 7
      },
      "id": "3391354d-fbc4-4d28-a6c6-556736b97ec3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "task": "MTY1MTc5NzMxMzA5NDc5MTQ5NzQ6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "0dfdeb7d-f44e-4190-bb6b-4eff2566c278",
      "name": "Create a task in Google Tasks",
      "type": "n8n-nodes-base.googleTasksTool",
      "position": [
        320,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YOUR_GOOGLE_TASKS_CREDENTIAL_ID",
          "name": "googleTasksOAuth2Api Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDg1MDQzNzk5MDY5NjgzMDQxNTY6MDow",
        "additionalFields": {}
      },
      "id": "26550f0b-b75f-41ca-acc4-b2badce06266",
      "name": "Get many tasks in Google Tasks",
      "type": "n8n-nodes-base.googleTasksTool",
      "position": [
        448,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YOUR_GOOGLE_TASKS_CREDENTIAL_ID",
          "name": "googleTasksOAuth2Api Credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "95502a4e-a289-45d2-891d-d9d229788828",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -544,
        528
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "openAiApi Credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please format this nicely in html`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f2c2aed3-1a4a-456b-96b7-21621d4dc59d",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        64,
        832
      ],
      "webhookId": "a4ae7b5d-7686-4bee-a753-848932860b4e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "gmailOAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are TARS, a highly capable personal AI assistant.\n\nToday's date is {{ $today.format('yyyy-MM-dd') }}.\n\nGuidelines:\n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- If the user did not specify a date in the request, assume they are asking for today.\n- When answering questions about calendar events, filter out events that don't apply to the question. For example, if the question is about events for today, only reply with events for today. Don't mention future events if more than 1 week away.\n- When creating a calendar entry, the attendee email is optional.\n- Be concise and direct in responses."
        }
      },
      "id": "8d2cd956-b2b5-4a93-8057-725d8e63dfa8",
      "name": "TARS \ud83e\udd16",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        608
      ],
      "typeVersion": 1.6,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {
          "maxTokens": 1024
        }
      },
      "id": "d4abe2d6-19a0-43d2-8c60-fd0ce63695cd",
      "name": "OpenRouter Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        736,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "openRouterApi Credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are TARS, a highly capable personal AI assistant.\n\nToday's date is {{ $today.format('yyyy-MM-dd') }}.\n\nGuidelines:\n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- If the user did not specify a date in the request, assume they are asking for today.\n- When answering questions about calendar events, filter out events that don't apply to the question. For example, if the question is about events for today, only reply with events for today. Don't mention future events if more than 1 week away.\n- When creating a calendar entry, the attendee email is optional.\n- Be concise and direct in responses."
        }
      },
      "id": "cecb5db2-07fa-492a-9871-36b1636d9769",
      "name": "TARS Fallback \ud83e\udd16",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        656,
        608
      ],
      "typeVersion": 1.6
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq": {
      "ai_languageModel": [
        [
          {
            "node": "TARS \ud83e\udd16",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TARS \ud83e\udd16": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TARS Fallback \ud83e\udd16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TARS Fallback \ud83e\udd16": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null
}